.banner{
    background-color: '#001632';
}
.banner-btn{
    position:absolute; 
    color:#34ffea;
    overflow: hidden;
    padding: 10px 30px;
    font-size:25px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 20px 50px rgb(255 255 255 /5%);

}
.banner-btn button::before{
    position:absolute;
    width: 50%;
    top: 2px;
    left:2px;
    bottom: 2px;
    content: '';
    background:rgb(142 255 240 /10%)

}
.banner-btn button span:nth-child(1){
    position: absolute;
    width: 100%;
    height: 5px;
    top:0;
    left:0;
 
    background:linear-gradient(to right,#002b9d,#34ffea) ;
    animation: animate1 2s linear infinite;
}
.banner-btn button span:nth-child(2){
    position: absolute;
    height: 100%;
    width: 5px;
    top:0;
    right:0;
    background:linear-gradient(to bottom,#002b9d,#34ffea) ;
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}
.banner-btn button span:nth-child(3){
    position: absolute;
    width: 100%;
    height: 5px;
    bottom:0;
    left:0;
    background:linear-gradient(to left,#002b9d,#34ffea) ;
    animation: animate3 2s linear infinite;
}
.banner-btn button span:nth-child(4){
    position: absolute;
    width: 5px;
    height: 100%;
    top:0;
    left:0;
    background:linear-gradient(to top,#002b9d,#34ffea) ;
    animation: animate4 2s linear infinite;
    animation-delay: 2s;
}
@keyframes animate1{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
@keyframes animate2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}
@keyframes animate3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes animate4{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}
